<div class="post-container">
  <% posts.forEach(function(post) { %>
    <article class="post">
      <a href="<%= post.link %>">
        <h2 class="post-title"><%= post.title %></h2>
      </a>
      <div class="post-info">
        <span>
          <%= post.createdTime %>
        </span>
        <span>
          <%= post.modifiedTime %>
        </span>
      </div>
      <div class="post-abstract">

      </div>
    </article>
  <% }); %>
</div>
